@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 28% 6%;
    --foreground: 210 20% 98%;
    --card: 215 30% 8%;
    --card-foreground: 210 20% 98%;
    --popover: 215 30% 8%;
    --popover-foreground: 210 20% 98%;
    --primary: 33 70% 86%;
    --primary-foreground: 0 0% 10%;
    --secondary: 215 25% 12%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 25% 12%;
    --muted-foreground: 215 10% 50%;
    --accent: 215 25% 14%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 72% 71%;
    --destructive-foreground: 0 0% 10%;
    --border: 215 20% 16%;
    --input: 215 20% 16%;
    --ring: 33 70% 86%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  html {
    @apply scroll-smooth;
  }
}
